@import "../../shared/theme/conf";
.tip-card {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .tip-msg {
        flex: 1;
        h3 {
            line-height: 0;
            margin-bottom: 20px;
        }
        span {
            color: rgba($fonts-color, .6);
            font-size: $default-text;
        }
    }
    .tip-ico {
        margin: 0 10px;
        border-radius: 3px;
        color: $white;
        @include center(60px, 60px);
        font-size: 30px;
        border: none;
        outline: none;
        &:active {
            @include box-shadow( 0 2px 10px 0 rgba($black, .4) inset);
        }
    }
    .tip-ico-primary {
        @extend .bg-primary;
        @include box-shadow( 0 2px 10px 0 rgba($primary, .5));
    }
    .tip-ico-success {
        @extend .bg-success;
        @include box-shadow( 0 2px 10px 0 rgba($success, .5));
    }
    .tip-ico-danger {
        @extend .bg-danger;
        @include box-shadow( 0 2px 10px 0 rgba($danger, .5));
    }
    .tip-ico-warning {
        @extend .bg-warning;
        @include box-shadow( 0 2px 10px 0 rgba($warning, .5));
    }
    .tip-ico-info {
        @extend .bg-info;
        @include box-shadow( 0 2px 10px 0 rgba($info, .5));
    }
}

th{
    border: 1px solid rgba(229, 208, 208, 0.2) !important;
    background: #556177;
    color: #fff;
    height: 35px;
}
tr,td{
    border: 1px solid rgba(229, 208, 208, 0.2) !important;
    background: rgba(229, 208, 208, 0.2);
    height: 35px;
}
.bg-primary{
    background: #494a56 !important;
}
.table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th {
    border: 1px solid transparent;
    color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-image: none;
    
}

input.form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid transparent;
    background: #fff;
    transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    border: 1px solid;
    font-size: 12px !important;
}

textarea.form-control {
    font-size: 12px !important;
    max-width: 100%;
    height: 40px;
   background: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    transition: border 1s;
    -o-transition: border 1s;
    -moz-transition: border 1s;
    -webkit-transition: border 1s;
    border: 1px solid;
}

select.form-control {
    border-radius: 0;
    border: 1px solid;
    transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}

/deep/ .modal-header {
    padding: 15px;
    /* border-bottom: 1px solid #e5e5e5; */
    background: #556177 !important;
    color: #fff !important;
}

.btn-primary {
    background: #494a56;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-image: none;
}

.btn-warning{
    background-color: #ff7403;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-image: none;
}

.viewBorder {
    border:1px solid #fda09c8f !important;
}
  
.btn-danger{
    background: #ad0a0a;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-image: none;
}

.bg-success, .btn-success, .btn-success:active, .open > .btn.dropdown-toggle.btn-success, .label-success {
    background: #0ca709;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-image: none;
}

/deep/ .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: white;
}

/deep/ .textareaClass{
    margin: 0px !important;
    height: 100px !important;
}

/deep/ .word-wrap {
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/deep/ .modal-lg {
    width: 60% !important;
}

/deep/ .b {
    word-wrap: break-word !important;
  }