<ngx-busy [busy]="userLoadingSubscription"></ngx-busy>
<div class="row">
    <div class="col-md-7">
        <h4 style="color: #fff;">User List</h4>
    </div>
    <div class="col-md-1">
        <label style="color: #fff;">Search By : </label>
    </div>
    <div class="col-md-4">
        <input type="text" id="myInput" class="form-control" [(ngModel)]="searchText" (input)="searchOption ($event)"
            placeholder="Search for template names.." title="Type in a template name">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12" style="overflow-x:auto;">
        <table class="table table-bordered table-hover">
            <thead>
              <tr  *ngIf = "roleCode === 'A'">
                <th>NAME</th>
                <th>EMAIL</th>
                <th>PHONE NUMBER</th>
                <th>AGE</th>
                <th>DESCRIPTION</th>
                <th>ACTION</th>
                <th>COURSE COMPLETION</th>
              </tr>
              <tr *ngIf = "roleCode === 'U'">
                <th>NAME</th>
                <th>EMAIL</th>
                <th>PHONE NUMBER</th>
                <th>AGE</th>
                <th>DESCRIPTION</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filteredTableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">    
                <td>{{item.firstName}} {{item.lastName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>{{item.age}}</td>
                <td>{{item.headLine}}</td>
                <td>
                  <button class="btn btn-primary" (click) ="viewUser(item.id)"><i class="fa fa-eye">&nbsp;</i>View</button>
                  <button class="btn btn-warning" *ngIf = "roleCode === 'A'" (click) ="editUser(item.id)"><i class="fa fa-edit">&nbsp;</i>Edit</button>
                  <button class="btn btn-danger" *ngIf = "roleCode === 'A'" (click) = "deleteUser(item.id)"><i class="fa fa-trash">&nbsp;</i>Delete</button>
                </td>
                <td *ngIf = "roleCode === 'A'" >
                  <button class="btn btn-primary"  *ngIf = "roleCode === 'A'" style="font-size:12px" (click) ="download('/certificate',item.id)">COMPLETION <i class="fa fa-download">&nbsp;</i></button>
                </td>
              </tr>
            </tbody>
          </table>
        <form class="pagination-wrapper">
            <div class="form-group pages">
                <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9"
                    directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next"
                    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page">
                </pagination-controls>
            </div>
            <div class="form-group options pages">
                <div class="input-group input-group-sm">
                    <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize"
                        (ngModelChange)="loadData()" style="left: 93%; width: 7%; border: 1px solid #fff;color: #fff;">
                        <option>1</option>
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                        <option>200</option>
                    </select>
                    <span class="input-group-addon addon-right bg-primary" style="color: #fff">Per Page</span>
                </div>
            </div>
        </form>
    </div>
</div>


<form (ngSubmit)="updateUser()">
    <modal #editUserModel [closeOnEscape]="false" modalClass="modal-lg modeWidth" [closeOnOutsideClick]="false">
        <modal-header style="background: #556177;">
            <h3 style="margin-bottom: 0px;margin-top: 0px;">Edit User</h3>
        </modal-header>
        <modal-content>
          <div class="row">
            <div class="col-md-12">           
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputCity">First Nmae :</label>
                  <input type="text" class="form-control" id="editfirstName" name="firstName" placeholder="First Name" [(ngModel)]="userModel.firstName">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputZip">Last Nmae :</label>
                  <input type="text" class="form-control" id="editlastName" name="lastName" placeholder="Last Name" [(ngModel)]="userModel.lastName">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputZip">Email</label>
                  <input type="text" class="form-control viewBorder" id="editemail" name="email" placeholder="Email" [(ngModel)]="userModel.email" disabled>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label for="inputCity">Head Line   :</label>
                  <textarea type="text" class="form-control" id="editheadLine" name="headLine" placeholder="Head Line" [(ngModel)]="userModel.headLine"></textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">Phone Number :</label>
                  <input type="text" class="form-control" id="editphoneNumber" name="phoneNumber" placeholder="Phone Number" [(ngModel)]="userModel.phoneNumber">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputZip">You Tube  :</label>
                  <input type="text" class="form-control" id="edityouTube" name="youTube" placeholder="You Tube" [(ngModel)]="userModel.youTube">
                </div>
                <!-- <div class="form-group col-md-4">
                  <label for="inputZip">Role :</label>
                  <input type="text" class="form-control" id="roleId" name="roleId" placeholder="Role" [(ngModel)]="userModel.roleId">
                </div> -->
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputZip">Linked In :</label>
                  <input type="text" class="form-control" id="editlinkedIn" name="linkedIn" placeholder="Linked In" [(ngModel)]="userModel.linkedIn">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputZip">Github :</label>
                  <input type="text" class="form-control" id="editgithub" name="github" placeholder="Github" [(ngModel)]="userModel.github">
                </div>
              </div>
            </div>
        </div>
        </modal-content>
        <modal-footer>
            <button type="submit" class="btn btn-warning"><i class="fa fa-edit">&nbsp;</i>Update</button>         
            <button type="button" class="btn btn-danger" (click)="closeModal(editUserModel)"><i
                    class="fa fa-close">&nbsp;</i>Close</button>                
        </modal-footer>
    </modal>
    </form>

    <form>
        <modal #viewUserModel [closeOnEscape]="false" modalClass="modal-lg modeWidth" [closeOnOutsideClick]="false">
            <modal-header style="background: #556177;">
                <h3 style="margin-bottom: 0px;margin-top: 0px;">View User</h3>
            </modal-header>
            <modal-content>
                <div class="row">
                    <div class="col-md-12">           
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputCity">First Nmae :</label>
                          <input type="text" class="form-control viewBorder" id="firstName" name="firstName" placeholder="First Name" [(ngModel)]="userModel.firstName" disabled>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputZip">Last Nmae :</label>
                          <input type="text" class="form-control viewBorder" id="lastName" name="lastName" placeholder="Last Name" [(ngModel)]="userModel.lastName" disabled>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputZip">Email</label>
                          <input type="text" class="form-control viewBorder" id="email" name="email" placeholder="Email" [(ngModel)]="userModel.email" disabled>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group">
                          <label for="inputCity">Head Line   :</label>
                          <textarea type="text" class="form-control viewBorder" id="headLine" name="headLine" placeholder="Head Line" [(ngModel)]="userModel.headLine" disabled></textarea>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCity">Phone Number :</label>
                          <input type="text" class="form-control viewBorder" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" [(ngModel)]="userModel.phoneNumber" disabled>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputZip">You Tube  :</label>
                          <input type="text" class="form-control viewBorder" id="youTube" name="youTube" placeholder="You Tube" [(ngModel)]="userModel.youTube" disabled>
                        </div>
                        <!-- <div class="form-group col-md-4">
                          <label for="inputZip">Role :</label>
                          <input type="text" class="form-control viewBorder" id="role" name="role" placeholder="Role" disabled>
                        </div> -->
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputZip">Linked In :</label>
                          <input type="text" class="form-control viewBorder" id="linkedIn" name="linkedIn" placeholder="Linked In" [(ngModel)]="userModel.linkedIn" disabled>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputZip">Github :</label>
                          <input type="text" class="form-control viewBorder" id="github" name="github" placeholder="Github" [(ngModel)]="userModel.github" disabled>
                        </div>
                      </div>
                    </div>
                </div>
            </modal-content>
            <modal-footer>
                <button type="button" class="btn btn-danger" (click)="closeModal(viewUserModel)"><i
                        class="fa fa-close">&nbsp;</i>Close</button>                
            </modal-footer>
        </modal>
        </form>

        