<div class="card card-block login-card">
  <h3 class="form-label">Login</h3>
  <span class="form-label">sign in to continue to Lines</span>
  <form (ngSubmit)="login()" #loginForm="ngForm" name="form" role="form">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon addon-left" id="email">
        <i class="fa fa-user fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="Email" type="text" id="email" name="email" [(ngModel)]="loginModel.email" required>
    </div>
    <div class="input-group">
      <span class="input-group-addon addon-left" id="password">
        <i class="fa fa-lock fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="Password" type="password" id="password" name="password" [(ngModel)]="loginModel.password" required>
    </div>
    <button class="btn btn-lg btn-warning" [disabled]="!loginForm.form.valid">Login</button>
    <a href="/register" class="btn btn-link" style="color:#fff">Register Now. →</a>
    <a href="/forgotPassword" class="btn btn-link" style="color:#fff">Forgot Password Now. →</a>
  </div>
</form>
</div>
