<div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878; margin: auto ;margin-top: 20px;">
    <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878; background: white">
           <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
           <br><br>
           <span style="font-size:25px">This is to certify that</span>
           <br><br>
           <span style="font-size:30px">{{users.firstName}}{{users.lastName}}</span><br/><br/>
           <span style="font-size:30px">has completed the course</span> <br/><br/>
           <span style="font-size:30px">JAVA </span><br/><br/>
           <span style="font-size:20px">with score of 70% </span> <br/><br/><br/><br/>
           <span style="font-size:25px">Dated</span><br>
          <span style="font-size:30px">26-06-2020</span>
    </div>
    </div>