<div class="row">
  <div class="col-md-6">
    <card cardTitle='Bar Chart'>
      <div echarts [options]="BarOption" [loading]="showloading" theme="dark" class="demo-chart"></div>
    </card>
  </div>
  <!-- <div class="col-md-4">
    <card cardTitle='Line Chart'>
      <div echarts [options]="LineOption" [loading]="showloading" theme="dark" class="demo-chart"></div>
    </card>
  </div> -->
  <div class="col-md-6">
    <card cardTitle='Pie Chart'>
      <div echarts [options]="PieOption" [loading]="showloading" theme="dark" class="demo-chart"></div>
    </card>
  </div>
  <div class="col-md-12">
    <card cardTitle='AnimationBar Chart'>
      <div echarts [options]="AnimationBarOption" [loading]="showloading" theme="dark" class="demo-chart"></div>
    </card>
  </div>
</div>
