<ngx-busy [busy]="courseLoadingSubscription"></ngx-busy>
<div class="row">
    <div class="col-md-5">
        <h4 style="color: #fff;">Courses List</h4>
    </div>    
    <div class="col-md-1">
        <label style="color: #fff;">Search By : </label>
    </div>
    <div class="col-md-4">
        <input type="text" id="myInput" class="form-control" [(ngModel)]="searchText" (input)="searchOption ($event)"
            placeholder="Search for template names.." title="Type in a template name">
    </div>
    <div class="col-md-2">
        <button class="btn btn-info" *ngIf = "roleCode === 'A'" (click) = "addCourse()"><i class="fa fa-user-plus">&nbsp;</i>Add Courses</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12" style="overflow-x:auto;">
        <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>COURSE NAME</th>
                <th>COURSE CODE</th>
                <th>CATEGORY</th>
                <th>DURATION</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filteredTableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">    
                <td>{{item.courseNmae}}</td>
                <td>{{item.courseCode}}</td>
                <td>{{item.category}}</td>
                <td>{{item.courseDuration}}</td>
                <td>
                  <button class="btn btn-primary" (click) ="viewCourse(item.id)"><i class="fa fa-eye">&nbsp;</i>View</button>
                  <button class="btn btn-warning" *ngIf = "roleCode === 'A'" (click) ="editCourse(item.id)"><i class="fa fa-edit">&nbsp;</i>Edit</button>
                  <button class="btn btn-secondary" *ngIf = "roleCode === 'U'" (click) ="enrollCourse(item.id)"><i class="fa fa-user-plus">&nbsp;</i>Enroll</button>
                  <button class="btn btn-secondary" *ngIf = "roleCode === 'A'" (click) ="schduleCourse(item.id)"><i class="fa fa-calendar">&nbsp;</i>Schedule</button>
                  <button class="btn btn-danger" *ngIf = "roleCode === 'A'" (click) = "deleteCourse(item.id)"><i class="fa fa-trash">&nbsp;</i>Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        <form class="pagination-wrapper">
            <div class="form-group pages">
                <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9"
                    directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next"
                    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page">
                </pagination-controls>
            </div>
            <div class="form-group options pages">
                <div class="input-group input-group-sm">
                    <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize"
                        (ngModelChange)="loadData()" style="left: 93%; width: 7%; border: 1px solid #fff;color: #fff;">
                        <option>1</option>
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                        <option>200</option>
                    </select>
                    <span class="input-group-addon addon-right bg-primary" style="color: #fff">Per Page</span>
                </div>
            </div>
        </form>
    </div>
</div>

<form (ngSubmit)="addCourseSubmite()">
<modal #addCoursetModel [closeOnEscape]="false" modalClass="modal-lg modeWidth" [closeOnOutsideClick]="false">
    <modal-header style="background: #556177;">
        <h3 style="margin-bottom: 0px;margin-top: 0px;">Add New Course</h3>
    </modal-header>
    <modal-content>
        <div class="row">
            <div class="col-md-12">           
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputCity">Course Nmae :</label>
                  <input type="text" class="form-control" id="courseNmae" name="courseNmae" placeholder="Course Nmae" [(ngModel)]="coursesModel.courseNmae">
                  <input type="hidden" class="form-control" id="byUserId" name="byUserId" placeholder="Course Nmae" [(ngModel)]="coursesModel.byUserId">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputZip">Course Code</label>
                  <input type="text" class="form-control" id="courseCode" name="courseCode" placeholder="Course Code" [(ngModel)]="coursesModel.courseCode">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputZip">Language</label>
                  <input type="text" class="form-control" id="language" name="language" placeholder="Language" [(ngModel)]="coursesModel.language">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">Category  :</label>
                  <input type="text" class="form-control" id="category " name="category" placeholder="category" [(ngModel)]="coursesModel.category">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputZip">Course Duration :</label>
                  <input type="text" class="form-control" id="courseDuration" name="courseDuration" placeholder="Course Duration" [(ngModel)]="coursesModel.courseDuration">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label for="inputCity">Course Description  :</label>
                  <textarea type="text" class="form-control" id="courseDescription" name="courseDescription" placeholder="Course Description" [(ngModel)]="coursesModel.courseDescription"></textarea>
                </div>
              </div>             
            </div>
        </div>
    </modal-content>
    <modal-footer>
        <button type="submit" class="btn btn-success"><i class="fa fa-save">&nbsp;</i>Save</button>
        <button type="button" class="btn btn-danger" (click)="closeModal(addCoursetModel)"><i
                class="fa fa-close">&nbsp;</i>Close</button>                
    </modal-footer>
</modal>
</form>

<form>
    <modal #viewCoursetModel [closeOnEscape]="false" modalClass="modal-lg modeWidth" [closeOnOutsideClick]="false">
        <modal-header style="background: #556177;">
            <h3 style="margin-bottom: 0px;margin-top: 0px;">View Course</h3>
        </modal-header>
        <modal-content>
            <div class="row">
                <div class="col-md-12">           
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputCity">Course Nmae :</label>
                      <input type="text" class="form-control viewBorder" id="courseNmae" name="courseNmae" placeholder="Course Nmae" [(ngModel)]="coursesModel.courseNmae" disabled>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputZip">Course Code</label>
                      <input type="text" class="form-control viewBorder" id="courseCode" name="courseCode" placeholder="Course Code" [(ngModel)]="coursesModel.courseCode" disabled>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputZip">Language</label>
                      <input type="text" class="form-control viewBorder" id="language" name="language" placeholder="Language" [(ngModel)]="coursesModel.language" disabled>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">From Date <i class="fa fa-calendar"></i>:</label>
                      <input type="date" class="form-control viewBorder" (change) = "dateCalculation()" id="fromDate" name="fromDate" placeholder="From Date" [(ngModel)]="coursesModel.fromDate" disabled>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputZip">To Date <i class="fa fa-calendar"></i> :</label>
                      <input type="date" class="form-control viewBorder" (change) = "dateCalculation()" id="toDate" name="toDate" placeholder="To Date" [(ngModel)]="coursesModel.toDate" disabled>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">Category  :</label>
                      <input type="text" class="form-control viewBorder" id="category " name="category" placeholder="category" [(ngModel)]="coursesModel.category" disabled>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputZip">Course Duration :</label>
                      <input type="text" class="form-control viewBorder" id="courseDuration" name="courseDuration" placeholder="Course Duration" [(ngModel)]="coursesModel.courseDuration" disabled>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group">
                      <label for="inputCity">Course Description  :</label>
                      <textarea type="text" class="form-control viewBorder" id="courseDescription" name="courseDescription" placeholder="Course Description" [(ngModel)]="coursesModel.courseDescription" disabled></textarea>
                    </div>
                  </div>
                </div>
            </div>
        </modal-content>
        <modal-footer>
            <button type="button" class="btn btn-danger" (click)="closeModal(viewCoursetModel)"><i
                    class="fa fa-close">&nbsp;</i>Close</button>                
        </modal-footer>
    </modal>
    </form>

    <form (ngSubmit)="editCourseSubmite()">
        <modal #editCourseModel [closeOnEscape]="false" modalClass="modal-lg modeWidth" [closeOnOutsideClick]="false">
            <modal-header style="background: #556177;">
                <h3 style="margin-bottom: 0px;margin-top: 0px;">Edit Course</h3>
            </modal-header>
            <modal-content>
                <div class="row">
                    <div class="col-md-12">           
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputCity">Course Nmae :</label>
                          <input type="text" class="form-control" id="courseNmae" name="courseNmae" placeholder="Course Nmae" [(ngModel)]="coursesModel.courseNmae">
                          <input type="hidden" class="form-control" id="byUserId" name="byUserId" placeholder="Course Nmae" [(ngModel)]="coursesModel.byUserId">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputZip">Course Code</label>
                          <input type="text" class="form-control viewBorder" id="courseCode" name="courseCode" placeholder="Course Code" [(ngModel)]="coursesModel.courseCode" disabled>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputZip">Language</label>
                          <input type="text" class="form-control" id="language" name="language" placeholder="Language" [(ngModel)]="coursesModel.language">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCity">Category  :</label>
                          <input type="text" class="form-control" id="category " name="category" placeholder="category" [(ngModel)]="coursesModel.category">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputZip">Course Duration :</label>
                          <input type="text" class="form-control" id="courseDuration" name="courseDuration" placeholder="Course Duration" [(ngModel)]="coursesModel.courseDuration">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group">
                          <label for="inputCity">Course Description  :</label>
                          <textarea type="text" class="form-control" id="courseDescription" name="courseDescription" placeholder="Course Description" [(ngModel)]="coursesModel.courseDescription"></textarea>
                        </div>
                      </div>
                    </div>
                </div>
            </modal-content>
            <modal-footer>
                <button type="submit" class="btn btn-warning"><i class="fa fa-edit">&nbsp;</i>Update</button>         
                <button type="button" class="btn btn-danger" (click)="closeModal(editCourseModel)"><i
                        class="fa fa-close">&nbsp;</i>Close</button>                
            </modal-footer>
        </modal>
        </form>

        <form (ngSubmit)="schduleCourseSubmite()">
          <modal #schduleCourseModel [closeOnEscape]="false" modalClass="modal-lg modeWidth" [closeOnOutsideClick]="false">
              <modal-header style="background: #556177;">
                  <h3 style="margin-bottom: 0px;margin-top: 0px;">Schedule Course</h3>
              </modal-header>
              <modal-content>
                  <div class="row">
                      <div class="col-md-12">           
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label for="inputCity">Course Nmae :</label>
                            <input type="text" class="form-control" id="courseNmae" name="courseNmae" placeholder="Course Nmae" [(ngModel)]="coursesModel.courseNmae">
                            <input type="hidden" class="form-control" id="byUserId" name="byUserId" placeholder="Course Nmae" [(ngModel)]="coursesModel.byUserId">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputZip">Course Code</label>
                            <input type="text" class="form-control viewBorder" id="courseCode" name="courseCode" placeholder="Course Code" [(ngModel)]="coursesModel.courseCode" disabled>
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputZip">Language</label>
                            <input type="text" class="form-control" id="language" name="language" placeholder="Language" [(ngModel)]="coursesModel.language">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputCity">From Date <i class="fa fa-calendar"></i>:</label>
                            <input type="date" class="form-control" (change) = "dateCalculation()" id="fromDate" name="fromDate" placeholder="From Date" [(ngModel)]="coursesModel.fromDate">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputZip">To Date <i class="fa fa-calendar"></i> :</label>
                            <input type="date" class="form-control" (change) = "dateCalculation()" id="toDate" name="toDate" placeholder="To Date" [(ngModel)]="coursesModel.toDate">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputCity">Category  :</label>
                            <input type="text" class="form-control" id="category " name="category" placeholder="category" [(ngModel)]="coursesModel.category">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputZip">Course Duration :</label>
                            <input type="text" class="form-control" id="courseDuration" name="courseDuration" placeholder="Course Duration" [(ngModel)]="coursesModel.courseDuration">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group">
                            <label for="inputCity">Course Description  :</label>
                            <textarea type="text" class="form-control" id="courseDescription" name="courseDescription" placeholder="Course Description" [(ngModel)]="coursesModel.courseDescription"></textarea>
                          </div>
                        </div>
                      </div>
                  </div>
              </modal-content>
              <modal-footer>
                  <button type="submit" class="btn btn-warning"><i class="fa fa-edit">&nbsp;</i>Submit</button>         
                  <button type="button" class="btn btn-danger" (click)="closeModal(schduleCourseModel)"><i
                          class="fa fa-close">&nbsp;</i>Close</button>                
              </modal-footer>
          </modal>
          </form>